<h1 align="center" >Fujiame - Motel</h1>
<p align="center">site em construção</p>

<%= image_tag('fujiame.png') %>
<br>
<%= image_tag('emconstrucao.png', style: " display: block; margin-left: auto; margin-right: auto ") %>