<!DOCTYPE html>
<html>
<head>
  <title>Fujiame</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

 <style type="text/css">
   body {
   	background-color: black;
   	
   }
 </style> 

</head>

<body>

<%= yield %>

</body>
</html>
